@import '/elements/flex-layout/flex-layout.css';
@import '/elements/flex-layout/flex-layout-classes.css';

app-header {
  background-color: #00897B;
  color: #fff;
}
paper-icon-button {
  --paper-icon-button-ink-color: white;
}
app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}
